.screen 
{ 
	position:absolute;
	border:1px dotted #000;
	font-size:10px;
	text-align:right;
	background-color:transparent;
}

.screen-1024x768 { width:1024px; height:768px; }

.screen-1024x576 { width:1024px; height:576px; line-height:4em; }

.screen-1024x600 { width:1024px; height:600px; }

.screen-800x600 { width:800px; height:600px; }

.screen-640x480 { width:640px; height:480px; }

.widget_description { position:relative; }

.widget
{ 
	position:absolute;
	font-size:8px;
	color:#fff;
}

.border { border:1px dotted #ccc; }

.widget_description > .widget { background-color:#005;z-index:10; }
.widget_description > .widget > .widget { background-color:#05a;z-index:20; }
.widget_description > .widget > .widget > .widget { background-color:#0af;color:#fff;z-index:30; }
.widget_description > .widget > .widget > .widget > .widget { background-color:#0ff;color:#000;z-index:40; }

.widget_description > .widget:hover { background-color:#500;z-index:100; }
.widget_description > .widget > .widget:hover { background-color:#a50;z-index:200; }
.widget_description > .widget > .widget > .widget:hover { background-color:#fa0;z-index:300; }
.widget_description > .widget > .widget > .widget > .widget:hover { background-color:#ff0;z-index:400; }

